<h4 class="ui center aligned medium icon header">
  <i class="yellow users icon"></i>
  Say something to your friends
</h4>

<div class="ui two column grid">
  <!-- Chat box -->
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for :message, url: message_path, html: { class: "ui reply form" } do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, { placeholder: 'Type message...', autofocus: true } %>
              <%= button_tag type: 'submit', class: "ui yellow button" do %>
                Send
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- End chat box -->

  <!-- Side bar menu -->
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End side bar menu  -->
</div>
