<div class="ui large inverted menu">
  <div class="ui container">
    <%= link_to 'Chatroom', root_path, class: "item" %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <%= logged_in? ? current_user.username : 'Account'  %> <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to 'Log out', logout_path, class: "item", method: :delete %>
          <% else %>
            <a class="item">Sign up</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
